In [72]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [73]:
df = pd.read_excel('rekrutacja.xlsx', sheet_name=0)

In [74]:
df.imie2 = df.imie2[df.imie2.isnull()==False]

In [75]:
df = df.loc[df["Pesel"].isnull()==False]

In [76]:
df = df.astype({"Pesel": int})

In [77]:
def add_zero(number):
    return '0'+str(number)

In [78]:
df['Pesel'] = df['Pesel'].apply(add_zero)

In [79]:
df.columns

Index(['lp', 'Nazwisko', 'imie1', 'imie2', 'Pesel', 'Zawód/klasa', 'Oryginal',
       'Internat', 'J.polski', 'Matematyka', 'J.obcy', 'j.polski',
       'matematyka', 'biologia', 'informatyka', 'swiadectwo',
       'Konkursy_ponad_woj', 'konk_miedzy_nar', 'konk_wojew',
       'Konkursy_ponad_woj_1', 'wys_msc', 'aktyw_spol'],
      dtype='object')

In [80]:
df['imie2'].loc[df['imie2'].isnull()]=''

/tmp/ipykernel_8657/2422343870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['imie2'].loc[df['imie2'].isnull()]=''

In [81]:
df['swiadectwo'].replace({'TAK': 7, 'NIE':0},inplace=True)

In [82]:
list_subjects = ['J.polski', 'Matematyka', 'J.obcy']
list_subjects1 = ['J.obcy']

In [83]:
for sub in list_subjects:
    df[sub]= df[sub]*0.35
df[list_subjects1]= df[list_subjects1]*0.3

In [84]:
for sub in list_subjects:
    df[sub][df[sub].isnull()]=0

/tmp/ipykernel_8657/1327869557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[sub][df[sub].isnull()]=0
/tmp/ipykernel_8657/1327869557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[sub][df[sub].isnull()]=0
/tmp/ipykernel_8657/1327869557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[sub][df[sub].isnull()]=0

In [85]:
dict_marks = {2:2,3:8,4:14,5:17,6:18}
col_subjects=df.columns[11:15]

In [86]:
col_subjects

Index(['j.polski', 'matematyka', 'biologia', 'informatyka'], dtype='object')

In [87]:
for sub in col_subjects:
    df.replace({sub: dict_marks},inplace=True)

In [88]:
df.columns

Index(['lp', 'Nazwisko', 'imie1', 'imie2', 'Pesel', 'Zawód/klasa', 'Oryginal',
       'Internat', 'J.polski', 'Matematyka', 'J.obcy', 'j.polski',
       'matematyka', 'biologia', 'informatyka', 'swiadectwo',
       'Konkursy_ponad_woj', 'konk_miedzy_nar', 'konk_wojew',
       'Konkursy_ponad_woj_1', 'wys_msc', 'aktyw_spol'],
      dtype='object')

In [89]:
df['pkt'] = df[df.columns[8:]].sum(axis=1)

### Kontrolny podgląd bazy

In [90]:
df

,lp,Nazwisko,imie1,imie2,Pesel,Zawód/klasa,Oryginal,Internat,J.polski,Matematyka,...,biologia,informatyka,swiadectwo,Konkursy_ponad_woj,konk_miedzy_nar,konk_wojew,Konkursy_ponad_woj_1,wys_msc,aktyw_spol,pkt
0,1,andruszewski,Dawid,rrr,06292805679,TAK,oryginał,NIE,17.5,17.5,...,18.0,18.0,7,10.0,10.0,10.0,10.0,4.0,3.0,166.25
1,2,Betkowski,Paweł,,06300108556,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
2,3,Bieńkowski,Wojciech,,06222605050,TMR,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
3,4,Błaszczak,Mateusz,,06280907990,TMR,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
4,5,Bogdańska,Wiktoria,,07221703121,TR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,108,Dobrzeniecka,Marta,,06271101460,TŻ,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
108,109,Jaworska,Marta,,04280805904,TR,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
109,110,Borowska,Julia,Zuzannna,06302407684,TW,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
110,111,Skarżyńska,Amelia,,06281608609,TW,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
111,112,Szewczyk,sandra,Luiza,06251509341,TW,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00

<b><font size="+3" color="red">Oryginały</b>

### Lista oryginałów

In [91]:
df[df.Oryginal=='oryginał'].sort_values(by='pkt', ascending=False)

,lp,Nazwisko,imie1,imie2,Pesel,Zawód/klasa,Oryginal,Internat,J.polski,Matematyka,...,biologia,informatyka,swiadectwo,Konkursy_ponad_woj,konk_miedzy_nar,konk_wojew,Konkursy_ponad_woj_1,wys_msc,aktyw_spol,pkt
0,1,andruszewski,Dawid,rrr,06292805679,TAK,oryginał,NIE,17.5,17.5,...,18.0,18.0,7,10.0,10.0,10.0,10.0,4.0,3.0,166.25
1,2,Betkowski,Paweł,,06300108556,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
4,5,Bogdańska,Wiktoria,,07221703121,TR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
10,11,Cackowska,Patrycja,,06250801369,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
11,12,Chmielewski,Adrian,,06241210190,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
12,13,Ciarczyńska,Oliwia,,07231905029,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00

In [92]:
df_oryg = df[df.Oryginal=='oryginał'].sort_values(by='pkt', ascending=False)

In [93]:
value_list = list(df_oryg['Zawód/klasa'].unique())

### Ilość oryginałów

In [94]:
df_oryg.groupby('Zawód/klasa').count()[['lp']].rename(columns={"lp": "ilość oryginałów"})

             ilość oryginałów
Zawód/klasa
TAK                         1
TMR                         4
TR                          1

### Przegląd oryginałów według pkt

In [95]:
list_col=['lp','Nazwisko','imie1','imie2','Zawód/klasa','pkt']
@interact
def show_oryg_by_pkt(column=['pkt'], 
                            x=(0,200)):
    return df_oryg.loc[df_oryg[column] > x].loc[:,list_col]

interactive(children=(Dropdown(description='column', options=('pkt',), value='pkt'), IntSlider(value=100, desc…

### Podział na klasy

In [96]:
from IPython.display import display, HTML

css = """
.output {
    flex-direction: column;
}
"""

HTML('<style>{}</style>'.format(css))

In [97]:
list_col=['lp','Nazwisko','imie1','imie2','Zawód/klasa','pkt']

for val in value_list:   
#     df_oryg.index = ['']

    
    df_oryg[df_oryg['Zawód/klasa']==val].loc[:,list_col].to_html('oryginal/'+str(val)+'.html', index=False)
    display(df_oryg[df_oryg['Zawód/klasa']==val].loc[:,list_col])

   lp      Nazwisko  imie1 imie2 Zawód/klasa     pkt
0   1  andruszewski  Dawid   rrr         TAK  166.25

    lp     Nazwisko     imie1 imie2 Zawód/klasa   pkt
1    2    Betkowski     Paweł               TMR  15.0
10  11    Cackowska  Patrycja               TMR  15.0
11  12  Chmielewski    Adrian               TMR  15.0
12  13  Ciarczyńska    Oliwia               TMR  15.0

   lp   Nazwisko     imie1 imie2 Zawód/klasa   pkt
4   5  Bogdańska  Wiktoria                TR  15.0

<b><font size="+3" color="red">Kopie</b>

## Lista kopii

In [98]:
df[df.Oryginal=='kopia'].sort_values(by='pkt', ascending=False)

,lp,Nazwisko,imie1,imie2,Pesel,Zawód/klasa,Oryginal,Internat,J.polski,Matematyka,...,biologia,informatyka,swiadectwo,Konkursy_ponad_woj,konk_miedzy_nar,konk_wojew,Konkursy_ponad_woj_1,wys_msc,aktyw_spol,pkt
8,9,Brzozowski,Stanisław,,07242406438,TW,kopia,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.0
9,10,Brzozowski,Igor,,06272604436,TMR,kopia,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.0

### Ilość kopii

In [99]:
df_kopia = df[df.Oryginal=='kopia']
value_list = list(df_kopia['Zawód/klasa'].unique())
df_kopia.groupby('Zawód/klasa').count()[['lp']].rename(columns={"lp": "ilość kopii"})

             ilość kopii
Zawód/klasa
TMR                    1
TW                     1

### Przegląd kopii według pkt

In [100]:
@interact
def show_copy_by_pkt(column=['pkt'], 
                            x=(0,200)):
    return df_kopia.loc[df_kopia[column] > x].loc[:,list_col]

interactive(children=(Dropdown(description='column', options=('pkt',), value='pkt'), IntSlider(value=100, desc…

### Podział na klasy

In [101]:
list_col=['lp','Nazwisko','imie1','imie2','Zawód/klasa','pkt']
  
for val in value_list:      
    df_kopia[df_kopia['Zawód/klasa']==val].loc[:,list_col].to_html('kopia/'+str(val)+'.html', index=False)
    display(df_kopia[df_kopia['Zawód/klasa']==val].loc[:,list_col])

   lp    Nazwisko      imie1 imie2 Zawód/klasa   pkt
8   9  Brzozowski  Stanisław                TW  15.0

   lp    Nazwisko imie1 imie2 Zawód/klasa   pkt
9  10  Brzozowski  Igor               TMR  15.0

In [102]:
# %pip install isort

<b><font size="+3" color="red">Wyszukiwanie</b>

### Wg nazwiska

In [103]:
nazwisko = input('Podaj nazwisko:').capitalize()
df['Nazwisko'] =  df['Nazwisko'].str.capitalize()
df[df['Nazwisko'].str.startswith(nazwisko, na=None)].valu

Podaj nazwisko:An

,lp,Nazwisko,imie1,imie2,Pesel,Zawód/klasa,Oryginal,Internat,J.polski,Matematyka,...,biologia,informatyka,swiadectwo,Konkursy_ponad_woj,konk_miedzy_nar,konk_wojew,Konkursy_ponad_woj_1,wys_msc,aktyw_spol,pkt
0,1,Andruszewski,Dawid,rrr,06292805679,TAK,oryginał,NIE,17.5,17.5,...,18.0,18.0,7,10.0,10.0,10.0,10.0,4.0,3.0,166.25

## Wg pesel

In [ ]:
pesel = input('Podaj pesel:')

In [ ]:
df[df['Pesel'].str.startswith(pesel, na=None)]

In [ ]:
# %pip install -U nbconvert==5.6.1 --user