In [43]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
# from ipywidgets import interact, interact_manual

In [44]:
# %pip install --upgrade pip
# %pip install ipywidgets
# jupyter nbextension install --user --py widgetsnbextension

In [45]:
df = pd.read_excel('rekrutacja.xlsx', sheet_name=0)

In [46]:
df.imie2 = df.imie2[df.imie2.isnull()==False]

In [47]:
df = df.loc[df["Pesel"].isnull()==False]

In [48]:
df = df.astype({"Pesel": int})

In [49]:
def add_zero(number):
    return '0'+str(number)

In [50]:
df['Pesel'] = df['Pesel'].apply(add_zero)

In [51]:
df.columns

Index(['lp', 'Nazwisko', 'imie1', 'imie2', 'Pesel', 'Zawód/klasa', 'Oryginal',
       'Internat', 'J.polski', 'Matematyka', 'J.obcy', 'j.polski',
       'matematyka', 'biologia', 'informatyka', 'swiadectwo',
       'Konkursy_ponad_woj', 'konk_miedzy_nar', 'konk_wojew',
       'Konkursy_ponad_woj_1', 'wys_msc', 'aktyw_spol'],
      dtype='object')

In [52]:
df['imie2'].loc[df['imie2'].isnull()]=''

/tmp/ipykernel_26466/2422343870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['imie2'].loc[df['imie2'].isnull()]=''

In [53]:
df['swiadectwo'].replace({'TAK': 7, 'NIE':0},inplace=True)

In [54]:
list_subjects = ['J.polski', 'Matematyka', 'J.obcy']
list_subjects1 = ['J.obcy']

In [55]:
for sub in list_subjects:
    df[sub]= df[sub]*0.35
df[list_subjects1]= df[list_subjects1]*0.3

In [56]:
for sub in list_subjects:
    df[sub][df[sub].isnull()]=0

/tmp/ipykernel_26466/1327869557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[sub][df[sub].isnull()]=0
/tmp/ipykernel_26466/1327869557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[sub][df[sub].isnull()]=0
/tmp/ipykernel_26466/1327869557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[sub][df[sub].isnull()]=0

In [57]:
dict_marks = {2:2,3:8,4:14,5:17,6:18}
col_subjects=df.columns[11:15]

In [58]:
col_subjects

Index(['j.polski', 'matematyka', 'biologia', 'informatyka'], dtype='object')

In [59]:
for sub in col_subjects:
    df.replace({sub: dict_marks},inplace=True)

In [60]:
df.columns

Index(['lp', 'Nazwisko', 'imie1', 'imie2', 'Pesel', 'Zawód/klasa', 'Oryginal',
       'Internat', 'J.polski', 'Matematyka', 'J.obcy', 'j.polski',
       'matematyka', 'biologia', 'informatyka', 'swiadectwo',
       'Konkursy_ponad_woj', 'konk_miedzy_nar', 'konk_wojew',
       'Konkursy_ponad_woj_1', 'wys_msc', 'aktyw_spol'],
      dtype='object')

In [61]:
df['pkt'] = df[df.columns[8:]].sum(axis=1)

### Kontrolny podgląd bazy

In [62]:
df

,lp,Nazwisko,imie1,imie2,Pesel,Zawód/klasa,Oryginal,Internat,J.polski,Matematyka,...,biologia,informatyka,swiadectwo,Konkursy_ponad_woj,konk_miedzy_nar,konk_wojew,Konkursy_ponad_woj_1,wys_msc,aktyw_spol,pkt
0,1,andruszewski,Dawid,rrr,06292805679,TAK,oryginał,NIE,17.5,17.5,...,18.0,18.0,7,10.0,10.0,10.0,10.0,4.0,3.0,166.25
1,2,Betkowski,Paweł,,06300108556,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
2,3,Bieńkowski,Wojciech,,06222605050,TMR,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
3,4,Błaszczak,Mateusz,,06280907990,TMR,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
4,5,Bogdańska,Wiktoria,,07221703121,TR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,108,Dobrzeniecka,Marta,,06271101460,TŻ,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
108,109,Jaworska,Marta,,04280805904,TR,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
109,110,Borowska,Julia,Zuzannna,06302407684,TW,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
110,111,Skarżyńska,Amelia,,06281608609,TW,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
111,112,Szewczyk,sandra,Luiza,06251509341,TW,podanie,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00

<b><font size="+3" color="red">Oryginały</b>

### Lista oryginałów

In [63]:
df['Nazwisko'] = df['Nazwisko'].str.capitalize()
df[df.Oryginal=='oryginał'].sort_values(by='pkt', ascending=False)

,lp,Nazwisko,imie1,imie2,Pesel,Zawód/klasa,Oryginal,Internat,J.polski,Matematyka,...,biologia,informatyka,swiadectwo,Konkursy_ponad_woj,konk_miedzy_nar,konk_wojew,Konkursy_ponad_woj_1,wys_msc,aktyw_spol,pkt
0,1,Andruszewski,Dawid,rrr,06292805679,TAK,oryginał,NIE,17.5,17.5,...,18.0,18.0,7,10.0,10.0,10.0,10.0,4.0,3.0,166.25
1,2,Betkowski,Paweł,,06300108556,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
4,5,Bogdańska,Wiktoria,,07221703121,TR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
10,11,Cackowska,Patrycja,,06250801369,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
11,12,Chmielewski,Adrian,,06241210190,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00
12,13,Ciarczyńska,Oliwia,,07231905029,TMR,oryginał,NIE,0.0,0.0,...,2.0,2.0,0,0.0,0.0,7.0,0.0,0.0,0.0,15.00

In [64]:
df_oryg = df[df.Oryginal=='oryginał'].sort_values(by='pkt', ascending=False)

In [65]:
value_list = list(df_oryg['Zawód/klasa'].unique())

### Ilość oryginałów

In [66]:
df_oryg.groupby('Zawód/klasa').count()[['lp']].rename(columns={"lp": "ilość oryginałów"})

             ilość oryginałów
Zawód/klasa
TAK                         1
TMR                         4
TR                          1

### Podział na klasy

In [67]:
from IPython.display import display, HTML

css = """
.output {
    flex-direction: column;
}
"""
HTML('<style>{}</style>'.format(css))

In [68]:
list_col=['Nazwisko','imie1','imie2','Pesel','Zawód/klasa','pkt']

In [69]:
for val in value_list:    
    df_oryg[df_oryg['Zawód/klasa']==val].loc[:,list_col].to_html('oryginal/'+str(val)+'.html', index=False)
    display(df_oryg[df_oryg['Zawód/klasa']==val].loc[:,list_col])

       Nazwisko  imie1 imie2        Pesel Zawód/klasa     pkt
0  Andruszewski  Dawid   rrr  06292805679         TAK  166.25

       Nazwisko     imie1 imie2        Pesel Zawód/klasa   pkt
1     Betkowski     Paweł        06300108556         TMR  15.0
10    Cackowska  Patrycja        06250801369         TMR  15.0
11  Chmielewski    Adrian        06241210190         TMR  15.0
12  Ciarczyńska    Oliwia        07231905029         TMR  15.0

    Nazwisko     imie1 imie2        Pesel Zawód/klasa   pkt
4  Bogdańska  Wiktoria        07221703121          TR  15.0

<b><font size="+3" color="red">Kopie</b>

## Lista kopii

In [70]:
df[df.Oryginal=='kopia'].sort_values(by='pkt', ascending=False).loc[:,list_col]

     Nazwisko      imie1 imie2        Pesel Zawód/klasa   pkt
8  Brzozowski  Stanisław        07242406438          TW  15.0
9  Brzozowski       Igor        06272604436         TMR  15.0

### Ilość kopii

In [71]:
df_kopia = df[df.Oryginal=='kopia']
value_list = list(df_kopia['Zawód/klasa'].unique())
df_kopia.groupby('Zawód/klasa').count()[['lp']].rename(columns={"lp": "ilość kopii"})

             ilość kopii
Zawód/klasa
TMR                    1
TW                     1

### Podział na klasy

In [72]:
for val in value_list:      
    df_kopia[df_kopia['Zawód/klasa']==val].loc[:,list_col].to_html('kopia/'+str(val)+'.html', index=False)
    display(df_kopia[df_kopia['Zawód/klasa']==val].loc[:,list_col])

     Nazwisko      imie1 imie2        Pesel Zawód/klasa   pkt
8  Brzozowski  Stanisław        07242406438          TW  15.0

     Nazwisko imie1 imie2        Pesel Zawód/klasa   pkt
9  Brzozowski  Igor        06272604436         TMR  15.0

<b><font size="+3" color="red">Wyszukiwanie</b>

### Wg nazwiska

In [73]:
try:
    nazwisko = input('Podaj nazwisko:').capitalize()
    df['Nazwisko'] =  df['Nazwisko'].str.capitalize()   
    df1 = df[df['Nazwisko'].str.startswith(nazwisko)]
except:
    print('Nie podałeś nazwiska')

Podaj nazwisko:brz

In [74]:
try:
    print(df1.loc[:,list_col])
except NameError:
    print('Nie podałeś nazwiska')

     Nazwisko      imie1 imie2        Pesel Zawód/klasa   pkt
8  Brzozowski  Stanisław        07242406438          TW  15.0
9  Brzozowski       Igor        06272604436         TMR  15.0

## Wg pesel

In [75]:
try:
    pesel = input('Podaj pesel:')
    df2 = df[df['Pesel'].str.startswith(pesel, na=None)]
except:
    print('Nie podałeś nr pesel')

Podaj pesel:07

In [76]:
try:
    print(df2.loc[:,list_col])
except NameError:
    print('Nie podałeś nr pesel')

        Nazwisko      imie1    imie2        Pesel Zawód/klasa   pkt
4      Bogdańska   Wiktoria           07221703121          TR  15.0
6     Bombalicka   Patrycja           07271909027         TMR  15.0
7          Boros     Szymon           07241302575         TMR  15.0
8     Brzozowski  Stanisław           07242406438          TW  15.0
12   Ciarczyńska     Oliwia           07231905029         TMR  15.0
14      Dolińska      Agata           07280705885         TMR  15.0
20    Górczyńska    Roksana           07211109247         TMR  15.0
30   Kaczorowski    Mateusz           07230604233         TMR  15.0
44     Laskowska   Dominika           07262302903         TMR  15.0
47   Lewandowski    Mikołaj   Kacper  07230511175         TMR  15.0
53   Matuszewska       Anna           07312602728         TMR  15.0
57    Mielczarek    Zuzanna           07290202444         TMR  15.0
60     Muszyńska    Dagmara           07321203686         TMR  15.0
65     Pajkowska       Maja           07232808123         TMR  15.0
73   Pilichowska     Amelia           07282909409         TMR  15.0
75     Prątnicki      Filip           07210401456         TMR  15.0
82       Serwach      Jakub           07232306119         TMR  15.0
83        Siejka     Kacper           07221409478         TMR  15.0
85     Stanowska    Natalia    Daria  07221508184         TMR  15.0
89     Trębińska      Julia           07220503883         TMR  15.0
90    Walerowicz   Wioletta           07211106329         TMR  15.0
91    Walerowicz       Adam           07211107016         TMR  15.0
95    Wiśniewska  Katarzyna  Samanta  07221208367         TMR  15.0
97        Wolska    Zuzanna           07272508980         TMR  15.0
103      Churski  Sebastian           07271004890         TMR  15.0
104  Tomaszewski      Karol           07262302217         TMR  15.0